body{
	background-image: url('image.jpg');
	background-size: 1400px 600px;
	background-repeat: no-repeat;
	margin: 0;
	/*background-color: blue;*/
}

.contenedor{
	display: flex;
	justify-content: center;
	/*border: 1px solid red;*/
	background-color: black;
}

label{
	color: white;
	font-size: 39px;
}

.contenedorimagen{
	display: flex;
	justify-content: flex-start;

}
.imagen{
	width: 200px;
	height: 150px;
	border: 1px solid black;
	border-radius: 80px;
}

.contenedomusica{
	display: flex;
	justify-content: center;
}

iframe{
	border: 4px solid white;
	border-radius: 40px;
}